<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>
<body>
    <h1>Iniciar sesión de usuario</h1>
    <form action="usuari.php" method="post">
        <div>
            <label for="email">Correo</label>
            <input type="text" name="email">
        </div>
        <div>    
            <label for="password">Contraseña</label>
            <input type="password" name="password">
        </div>
        <div>
            <input type="checkbox">
            <label> Recuerdar </label>
        </div><br>
        <div>
            <button type="submit" class="btn btn-primary" name="submit"> Enviar </button><br>
        </div>
        <div>
            <a href="es_index.html">Crear usuario</a>
        </div>
    </form>
    <br>
    <a href="eliminarCookie.php">Eliminar cookie</a><br>
    <br>
    <a href="idioma.php">Volver a selección idioma</a>
</body>
</html>