<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sessión</title>
</head>
<body>
    <h1>Iniciar sessión de l'usuari</h1>
    <form action="../authentication.php" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email">
        </div>
        <div>    
            <label for="password">Contrassenya</label>
            <input type="password" name="password">
        </div>
        <div>
            <input type="checkbox">
            <label> Remember me </label>
        </div><br>
        <div>
            <button type="submit" class="btn btn-primary" name="submit"> Enviar </button><br>
        </div>
        <div>
            <a href="index.html">Crear usuari</a>
        </div>
    </form>
</body>
</html>